.Main__Nav__gallery{
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 15em;
    margin-right: 15em;
  
}


.centered {
    position: absolute;
    top: 10%;
    left: 2%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  .centered1 {
    position: absolute;
    top: 10%;
    left: 30%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  .centered2 {
    position: absolute;
    top: 10%;
    left: 55%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  .centered3 {
    position: absolute;
    top: 10%;
    left: 80%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  .centered4 {
    position: absolute;
    top: 35%;
    left: 5%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  .centered5 {
    position: absolute;
    top: 35%;
    left: 30%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  .centered6 {
    position: absolute;
    top: 35%;
    left: 58%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  .centered7 {
    position: absolute;
    top: 35%;
    left: 80%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  .centered8 {
    position: absolute;
    top: 85%;
    left: 1%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  .centered9 {
    position: absolute;
    top: 59%;
    left: 30%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }
  .centered10 {
    position: absolute;
    top: 59%;
    left: 78%;
    line-height: 1;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  .centered11 {
    position: absolute;
    top: 59%;
    left: 55%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  .centered12 {
    position: absolute;
    top: 60%;
    left: 2%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  .centered13 {
    position: absolute;
    top: 85%;
    left: 35%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  .centered14 {
    position: absolute;
    top: 85%;
    left: 55%;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

 
  